@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), url("./assets/fonts/Roboto-Light.woff2") format("woff2"), url("./assets/fonts/Roboto-Light.woff") format("woff"), url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("./assets/fonts/Roboto-Regular.woff2") format("woff2"), url("./assets/fonts/Roboto-Regular.woff") format("woff"), url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("./assets/fonts/Roboto-Bold.woff2") format("woff2"), url("./assets/fonts/Roboto-Bold.woff") format("woff"), url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"), url("./assets/fonts/gilroy-800-normal.woff2") format("woff2"), url("./assets/fonts/gilroy-800-normal.woff") format("woff"), url("./assets/fonts/gilroy-800-normal.ttf") format("truetype");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scrollbar-width: 0;
}

html ::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: 'Roboto';
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-size: inherit;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 5.85%;
}

.title {
  font-family: 'Gilroy';
  font-size: 48px;
  font-weight: 800;
}

.title-center {
  text-align: center;
}

.text {
  font-weight: 300;
  font-family: Roboto;
}

.hover {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.hover:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .title {
    font-size: 30px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 962px;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  background: url("./assets/img/main_bg.jpeg");
  background-size: cover;
}

.main__title {
  font-size: 90px;
  text-transform: uppercase;
}

.main__text {
  margin-top: 80px;
  font-size: 34px;
  line-height: 55px;
}

.main__more {
  margin: 0 auto;
  opacity: .3;
}

.main__more::after {
  content: '';
  display: block;
  width: 2px;
  height: 64px;
  margin: 15px auto 0;
  background: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 200px;
}

.header__tel {
  margin-right: 50px;
  font-weight: 700;
  white-space: nowrap;
}

.logo {
  margin-right: 150px;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 1600px) {
  .logo {
    margin-right: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 52px;
  padding: 0 15px;
  margin: 0 20px;
  border: 2px solid #ffffff00;
  white-space: nowrap;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu__link:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.menu__lang {
  display: none;
}

.lang {
  width: 52px;
  height: 52px;
  color: #777777;
  border: 2px solid #ffffff00;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.lang:hover {
  color: #ffffff;
  cursor: pointer;
}

.lang-active {
  color: #ffffff;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 1366px) {
  .header {
    height: 100px;
  }

  .nav {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .nav-collapse {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index: 22;
  }

  .nav-toggle {
    position: relative;
    display: block;
    width: 100%;
    height: 10%;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .nav-toggle::before,
  .nav-toggle::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
  }

  .nav-open {
    background: #fff;
  }

  .nav-open::before {
    top: -300%;
  }

  .nav-open::after {
    bottom: -300%;
  }

  .nav-close {
    background: #ffffff00;
  }

  .nav-close::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav-close::after {
    bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .header__lang {
    display: none;
  }

  .menu-mobile {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    padding: 50px 0 100px;
    font-size: 30px;
    background: #1f1e1e;
    overflow: hidden;
    opacity: 1;
    z-index: 11;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }

  .menu-hidden {
    height: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity .4s, padding 0s ease .4s, height 0s ease .4s;
    transition: opacity .4s, padding 0s ease .4s, height 0s ease .4s;
  }

  .menu__lang {
    display: inline-block;
    margin: 0;
  }

  .main {
    min-height: 100vh;
  }

  .main__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 15px;
  }

  .header {
    font-size: 15px;
  }

  .header__tel {
    margin-right: 0;
  }

  .nav-collapse {
    width: 40px;
    height: 40px;
  }

  .lang__btn {
    display: none;
    width: 30px;
    height: 30px;
  }

  .main__content {
    text-align: center;
  }

  .main__title {
    font-size: 30px;
  }

  .main__text {
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {
  .nav-collapse {
    width: 30px;
    height: 30px;
  }
}

.servises {
  padding-top: 120px;
  padding-bottom: 200px;
  color: #000000;
}

.servises__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 9%;
}

.servises__item {
  width: 27%;
  min-width: 250px;
  margin-top: 60px;
}

.servises__heading {
  margin: 20px 0;
  font-size: 19px;
  line-height: 32px;
  font-weight: 400;
}

.servises__text {
  font-size: 14px;
  line-height: 28px;
}

.projects {
  background: url(./assets/img/projects.jpg) center;
  background-size: cover;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 860px;
}

.project__content {
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project__text {
  margin: 50px 0;
  font-size: 24px;
  line-height: 200%;
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 22px;
  padding: 20px;
}

.project__link::after {
  content: '';
  display: block;
  width: 30px;
  height: 8px;
  margin-left: 10px;
}

.project__link-border {
  border: 2px solid #000000;
  color: #000000;
}

.project__link-border::after {
  background: url("./assets/img/arrow-black.png");
}

.project__link-dark {
  background: #000000;
  color: #ffffff;
}

.project__link-dark::after {
  background: url("./assets/img/arrow-white.png");
}

.project__link-light {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.project__link-light::after {
  background: url("./assets/img/arrow-white.png");
}

.gp {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.tb {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.ad {
  margin-left: 50%;
}

@media screen and (max-width: 1280px) {
  .project {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 -7%;
    padding: 50px;
  }

  .gp {
    background: #bdcbd7ce;
  }

  .tb {
    background: #fed500ce;
  }

  .ad {
    background: #ffffffce;
  }
}

.all {
  height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("./assets/img/allbg.jpeg");
  background-size: cover;
}

.benefits {
  overflow: hidden;
  background: #f1f2f2;
  padding-bottom: 100px;
}

.benefits__title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 140px 0 80px 100px;
  margin: 0 auto;
  position: relative;
  background: url("./assets/img/six.png") no-repeat bottom left;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}

.benefits__item {
  min-width: 200px;
  max-width: 500px;
  margin: 20px;
}

.benefits__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 19px;
  line-height: 200%;
}

.benefits__heading::before {
  content: '';
  display: block;
  width: 45px;
  height: 4px;
  margin-right: 20px;
  background: #e74c3c;
}

.benefits__text {
  padding: 20px;
  font-size: 17px;
  line-height: 200%;
}

.clients {
  padding-top: 180px;
  padding-bottom: 80px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.clients__item {
  padding: 50px 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clients__img {
  max-width: 80%;
}

@media screen and (max-width: 1280px) {
  .clients__item {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .clients__item {
    width: 40%;
  }
}

.reviews {
  padding-bottom: 200px;
}

.reviews__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 22%;
  font-size: 34px;
  line-height: 55px;
  text-align: center;
}

.reviews__quote::after,
.reviews__quote::before {
  content: '';
  display: block;
  width: 45px;
  height: 4px;
  margin: 100px 0;
  background: #e74c3c;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
}

.reviews__videoblock {
  width: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reviews__video {
  width: 100%;
}

.reviews__play {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.reviews__play-icon {
  width: 18%;
}

.reviews__play-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 34px;
  color: #ffffff;
  margin-top: 20px;
}

.reviews__text {
  width: 30%;
}

.reviews__name {
  font-size: 19px;
  line-height: 32px;
  font-weight: 400;
}

.reviews__rev {
  margin-top: 30px;
  font-size: 17px;
  line-height: 32px;
}

.reviews__btn {
  width: 27px;
  height: 113px;
  background: url("./assets/img/slider.png") no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 1050px) {
  .reviews__slider {
    margin-top: 0;
  }

  .reviews__videoblock {
    width: 50%;
  }

  .reviews__play-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__quote {
    padding: 0;
    font-size: 22px;
  }

  .reviews__slider {
    display: block;
  }

  .reviews__videoblock {
    width: 100%;
  }

  .reviews__text {
    width: 100%;
    padding: 15%;
    text-align: center;
  }

  .reviews__btn {
    display: none;
  }
}

.contacts {
  padding: 100px 6%;
  height: 582px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("./assets/img/contacts.jpeg") no-repeat center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: 'Gilroy';
  font-weight: 800;
  line-height: 110px;
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__mail {
  font-size: 30px;
}

.contacts__tel {
  white-space: nowrap;
}

@media screen and (max-width: 1050px) {
  .contacts {
    line-height: 50px;
  }
}

.footer {
  padding: 60px 0;
  background: #222222;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__item {
  width: 74px;
  height: 74px;
  margin: 10px;
  padding: 2px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#57d781), to(#25adff));
  background: linear-gradient(#57d781, #25adff);
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #222222;
  border-radius: 50%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer__link:hover {
  background: #22222200;
  cursor: pointer;
}

.footer__icon {
  width: 60%;
  height: 60%;
}

@media screen and (max-width: 768px) {
  .footer__item {
    width: 50px;
    height: 50px;
  }
}
